# <center>Big Data For Engineers&ndash; Exercises</center>
## <center>Spring 2022 &ndash; Week 1 &ndash; ETH Zurich</center>

### Aims
- **After this exercise:** Understand the SQL language and its common query patterns.
- **Later in the semester:** Relate these language features and query patterns relative to other data shapes, technologies, and the languages designed to query them.



- **After this exercise:** Understand the 'table' data shape, normalization, and when they can (and should) be used.
- **Later in the semester:** Understand when you can (and should) throw all of this away!

### Prerequisites
In this exercise, you will brush-up the fundamental concepts of relational databases and SQL. If you haven't taken an introductory databases course (or want to refresh your knowledge) we recommend you to read the following:

Garcia-Molina, Ullman, Widom: Database Systems: The Complete Book. Pearson, 2. Edition, 2008. (Chapters 1, 2, 3, and 6) [Available in the ETH Library] [[Online]](https://ebookcentral.proquest.com/lib/ethz/detail.action?pq-origsite=primo&docID=5832965) [[Selected solutions]](http://infolab.stanford.edu/~ullman/dscbsols/sols.html)

### Database Set-up
Unlike last week's exercise, the dataset for this exercise might take a little bit longer to download and initialize. Please wait for the message `PostgreSQL init process complete; ready for start up` before proceeding!

As before, we set up our connection to the database and enable use of `%sql` and `%%sql`.

In [1]:
server='postgres'
user='postgres'
password='BigData1'
database='discogs'
connection_string=f'postgresql://{user}:{password}@{server}:5432/{database}'

In [2]:
%reload_ext sql
%sql $connection_string

In [3]:
%%sql
SELECT version();

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[('PostgreSQL 13.4 (Debian 13.4-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit',)]

## Exercise 1: Explore the dataset
We want to first understand the dataset a bit better. You will find some queries below to help you explore the schema. In the process, consider the following questions:

1. Which concepts are modelled in the dataset and how do they relate to each other?
2. The data is stored as tables. Why was this shape chosen and why not the other shapes?
3. In which normal forms are the corresponding relations?
4. What are the efficiency trade-offs from adding an `artist_id` and `artist_name` directly to the `releases` table? Hints:
   - What are some typical queries that would benefit from this change?
   - How often do we need to update artists?
5. What potential problems could result from adding this redundancy?

### Where we got the data from
- [Discogs](https://www.discogs.com/)
- [Discogs XML data dumps](http://data.discogs.com/)
- [Download the dataset](https://cloud.inf.ethz.ch/s/4bZWo4TjeXgCNz5) (only necessary if you don't want to use Docker, see `postgres-init.sh` to see how to import it)

### List tables
The following query retrieves a list of tables in the database from a system table describing the current database.

In [4]:
%%sql 
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://postgres:***@postgres:5432/discogs
4 rows affected.

[('artists',), ('released_by',), ('releases',), ('tracks',)]

### List attributes/columns
The following query retrieves a list of columns from the tables in the database.

In [4]:
%%sql 
SELECT table_name, column_name, data_type, is_nullable, ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
AND table_name NOT LIKE 'pg_%'
ORDER BY table_name, ordinal_position;
LIMIT 5

 * postgresql://postgres:***@postgres:5432/discogs
17 rows affected.
(psycopg2.errors.SyntaxError) syntax error at or near "LIMIT"
LINE 1: LIMIT 5
        ^

[SQL: LIMIT 5]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Exercise 2: SQL warm-up
Let us begin with several SQL queries to ease us back into the language.

1. Retrieve all artists with the name of 'Radiohead'.

In [13]:
%%sql
SELECT *
FROM artists
WHERE name = 'Radiohead'

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(3840, 'Radiohead', None, 'Alternative Rock (Modern Rock) band from Oxfordshire, England (United Kingdom).\r \r The name Radiohead comes from the [a=Talking Heads] song, "Radio ... (2253 characters truncated) ...  [a=Pixies], [a=Magazine], [a=Joy Division], and [a=R.E.M.] (with lead singer of the band, Thom Yorke, refering to himself as an \'R.E.M. groupie\').', 'http://www.radiohead.com')]

2. List the titles of all releases by that artist in alphabetical order.

In [5]:
%%sql
SELECT title
FROM artists
JOIN released_by ON artists.artist_id = released_by.artist_id
JOIN tracks ON released_by.release_id= tracks.release_id
WHERE name= 'Radiohead'
Group BY title
ORDER BY title ASC
LIMIT 5

 * postgresql://postgres:***@postgres:5432/discogs
5 rows affected.

[('2 + 2 = 5',),
 ('2+2=5',),
 ('2+2=5 (Live At Belfort Festival)',),
 ('2+2=5 (Live At Earls Court, London, 26/11/03)',),
 ('2 + 2 = 5 (The Lukewarm.)',)]

3. List the titles of all releases by that artist that contain less than 5 tracks.

In [6]:
%%sql
SELECT title
FROM artists
JOIN released_by ON artists.artist_id = released_by.artist_id
JOIN releases ON released_by.release_id= releases.release_id
WHERE name= 'Radiohead'
GROUP BY title
HAVING COUNT(title) <5
ORDER BY title ASC
LIMIT 5

 * postgresql://postgres:***@postgres:5432/discogs
5 rows affected.

[('27 5 94 The Astoria London Live',),
 ('7 Television Commercials',),
 ('7 Television Commercials.',),
 ('Airbag / How Am I Driving?',),
 ('Ale To The Thieves',)]

4. What are the top 10 artists with the most releases?

5. How many artists have more releases than the average number of releases per artists (who have at least 1 release)

In [10]:
%%sql
SELECT COUNT(*) FROM (
    SELECT artists.name, COUNT(releases.release_id) as rel
    FROM artists
    JOIN released_by on artists.artist_id=released_by.artist_id
    JOIN releases on releases.release_id= released_by.release_id
    GROUP BY artists.name
) as foo0
WHERE rel> (SELECT AVG(foo.rel) FROM(
    SELECT artists.name, COUNT(releases.release_id) as rel
    FROM artists
    JOIN released_by on artists.artist_id=released_by.artist_id
    JOIN releases on releases.release_id= released_by.release_id
    GROUP BY artists.name
    HAVING COUNT(releases.release_id)>0
    ORDER BY COUNT(releases.release_id) DESC
)as foo)

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(23632,)]

6. What are the names and IDs of the artists that have both a release with the genre 'Pop' *and* a release with the genre 'Classical'? Give a query that uses `INTERSECT` and one that uses `EXISTS`.

In [39]:
%%sql
SELECT name
FROM artists
JOIN released_by on artists.artist_id=released_by.artist_id
JOIN releases on releases.release_id= released_by.release_id
WHERE genre = 'Pop'
GROUP BY name
INTERSECT (
SELECT name
FROM artists
JOIN released_by on artists.artist_id=released_by.artist_id
JOIN releases on releases.release_id= released_by.release_id
WHERE genre = 'Classical'
GROUP BY name
)
ORDER BY name
LIMIT 5

 * postgresql://postgres:***@postgres:5432/discogs
5 rows affected.

[('Andrew Poppy',),
 ('David Bowie',),
 ('Ennio Morricone',),
 ('James Horner',),
 ('Jerry Goldsmith',)]

In [50]:
%%sql
SELECT name
FROM artists
JOIN released_by on artists.artist_id=released_by.artist_id
-- JOIN releases on releases.release_id= released_by.release_id
WHERE (EXISTS (SELECT release_id FROM releases WHERE releases.release_id= released_by.release_id AND releases.genre='Pop' GROUP BY release_id) 
AND EXISTS (SELECT release_id FROM releases WHERE releases.release_id= released_by.release_id AND releases.genre='Classical' GROUP BY release_id))
ORDER BY name
LIMIT 5

 * postgresql://postgres:***@postgres:5432/discogs
0 rows affected.

[]

## Exercise 3: Impact of release genre on average track duration and track count
For this exercise, we want to find out how average track duration and track count varies across genres.

To start, write a query which finds all of the distinct genres:

In [34]:
%%sql
(SELECT release_id, genre FROM releases WHERE releases.genre='Pop' GROUP BY release_id)
LIMIT 5

 * postgresql://postgres:***@postgres:5432/discogs
5 rows affected.

[(8491, 'Pop'), (25842, 'Pop'), (48467, 'Pop'), (56303, 'Pop'), (57656, 'Pop')]

Take a guess as to which genre has:
1. The highest average track count?
2. The lowest average track count?
3. The longest average track duration?
4. The shortest average track duration?

Next, write a query to calculate the average track count per genre:

In [ ]:
%%sql 
...

Write a query to calculate the average duration per genre. Your result should have two attributes: `genre` and `avg_duration`.

In [ ]:
%%sql
...

Did the results match what you expected? Copy your query into the following python script to plot the result.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# Store the result of the query in a Python object (add your query here!)
result = %sql ...

# Convert the result to a Pandas data frame
df = result.DataFrame()

# Extract x and y values for a plot
x = df['genre'].tolist()
y = df['avg_duration'].tolist()

# Print them just for debugging
print(x)
print(y)

# Plot the distribution of scores
fig = plt.figure(figsize =(14, 7))
plt.barh(x, y, align='center')
plt.xlabel('Average Duration (s)')
plt.ylabel('Genre')

## Exercise 4: Discuss query patterns and language features of SQL
1. What patterns did you use in many of the queries above?

2. Do you remember the theory behind them?

3. What makes SQL a declarative language and what advantages does that have?

4. What makes SQL a functional language and what advantages does that have?